body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

figure {
  text-align: center;
}

a {
  padding: 0px 10px;
  background-color: #D1DAE8;
}

figcaption {
  margin: auto;
  font-size: 13px;
}

#featured-property p {
  width: 800px;
  margin: auto;
  text-align: center;
}



#details div{
  display: block;
  float: left;
  text-align: center;
  background-color: red;
  padding-top: 1%;
  margin-top: 20px;
  width: 25%;
}

